{%extends 'base.html' %} {%block start%}
<section class="jumbotron mb-10" role="banner">
    <!-- Background image -->
    <div
            class="p-5 text-center bg-image"
            style="background-image: url('https://hips.hearstapps.com/hmg-prod/images/posada-ayana-pool-area-1665418407.jpeg?crop=1xw:1xh;center,top&resize=980:*');
      height: 400px;
    "
    >
        <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
            <div class="d-flex justify-content-center align-items-center h-100">
                <div class="text-white">
                    <h1 class="mb-4">The Royal Hotel</h1>
                    <a data-mdb-ripple-init class="btn btn-outline-light btn-lg" href="#!" role="button"
                    >About Us</a
                    >
                </div>
            </div>
        </div>
    </div>
    <!-- Background image -->
</section>
<section class="container my-3">
    <div class="row h-100">
        <div class="col-6">
            <h5>CHÚNG TÔI CHĂM SÓC MỌI NGƯỜI</h5>
            <h4>Chào mừng đến với The Royal Hotel!</h4>
            <p>TheRoyal Hotel cung cấp đầy đủ những dịch vụ tiện ích, có thủ tục kiểm tra nhanh chóng,
                wi-fi công cộng miễn phí phủ sóng toàn bộ khách sạn… Điểm nổi bật của TheRoyal Hotel là nhà hàng
                cung cấp được cả ẩm thực phương Đông và phương Tây được xây dựng và phục vụ trên tầng cao nhất.
                Quý khách có thể vừa thưởng thức bữa tối ngon miệng vừa ngắm bầu trời đầy sao và thành phố khi về đêm.
                Ngoài ra, du khách có thể tận hưởng những dịch vụ khác như spa, phòng gym ngay trong khu vực khách sạn.
                Thật tuyệt vời khi mà, những thới quen rèn luyện sức khỏe, chăm sóc bản thân của bạn vẫn được duy trì
                đều đặn
                trong những kỳ nghỉ dài ngày.</p>
            <p>The Royal Hotel tự tin mang đến cho bạn sự thăng hoa về cảm xúc, những trải nghiệm tốt nhất,
                tuyệt vời nhất trong kỳ nghỉ dưỡng của bạn. Hãy đến với chúng tôi,
                chúng tôi đảm bảo rằng bạn sẽ không hối tiếc.</p>
        </div>
        <div class="col-6" style="width: 50%">
            <img src="https://hips.hearstapps.com/hmg-prod/images/posada-ayana-pool-area-1665418407.jpeg?crop=1xw:1xh;center,top&resize=980:*"/>

        </div>
    </div>
    <p></p>
    <div class="row">
        <div class="col-sm border ">
            <img src=""/>
            <h1>300</h1>
            <p>Phòng 5 sao</p>
        </div>

        <div class="col-sm border">
            <img src=""/>
            <h1>3</h1>
            <p>Giải thưởng</p>
        </div>

        <div class="col-sm border">
            <img src=""/>
            <h1>100</h1>
            <p>Tiệc BBQ</p>
        </div>

        <div class="col-sm border">
            <img src=""/>
            <h1>40K</h1>
            <p>Quản lí sự kiện</p>
        </div>
    </div>

</section>
{%endblock%}