{%extends 'base.html'%}
{%block start%}
<div class="container mb-5">
    <div class="row justify-content-center align-item-center">
        <h1>ĐẶT PHÒNG</h1>
    </div>
    <div class="row">
        <div class="col-sm">
            <label>Họ</label>
            <p>
                <input type="text" name="firstname" id="firstname" class="form-control">
            </p>
        </div>
        <div class="col-sm">
            <label>Tên</label>
            <p>
                <input type="text" name="lastname" id="lastname" class="form-control">
            </p>
        </div>
        <div class="col-sm">
            <label>Email</label>
            <p>
                <input type="text" name="email" id="email" class="form-control">
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <label>Number of Guest</label>
            <p>
                <input type="text" name="adult" id="adult" class="form-control">
            </p>
        </div>
        <div class="col-sm">
            <label>Phone Number</label>
            <p>
                <input type="text" name="phone" id="phone" class="form-control">
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <label>Check in date</label>
            <p>
                <input type="date" name="checkin" id="checkin" class="form-control">
            </p>
        </div>
        <div class="col-sm">
            <label>Check out date</label>
            <p>
                <input type="date" name="checkout" id="checkout" class="form-control">
            </p>
        </div>
    </div>
    <div class="row">
        <label>Payment method</label>
        <div class="col-sm">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked>
                <label class="form-check-label" for="flexRadioDefault1">
                    Cash
                </label>
            </div>
        </div>
        <div class="col-sm">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                <label class="form-check-label" for="flexRadioDefault2">
                    Paypal
                </label>
            </div>
        </div>
        <div class="col-sm">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3" checked>
                <label class="form-check-label" for="flexRadioDefault3">
                    Credit Card
                </label>
            </div>
        </div>
        <div class="col-sm">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault4" checked>
                <label class="form-check-label" for="flexRadioDefault4">
                    Debit Card
                </label>
            </div>
        </div>
    </div>
    <div class="form-check form-switch">
        <label class="form-check-label" for="flexSwitchCheckDefault">Do you want to use <strong style="color: orange ">1000</strong> points?</label>
        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
    </div>
    <div class="row form-group mt-2">
        <div class="col-md-12">
            <input type="submit" class="btn btn-primary btn-block" value="Submit">
        </div>
    </div>
</div>
{%endblock%}