{% extends "base.html" %} {% block start %}
<section class="container mt-5 pt-5">
  <ul class="nav nav-tabs mb-4">
    <li class="nav-item">
      <a
        class="nav-link"
        id="personal-tab"
        data-toggle="tab"
        href="{% url 'profile' %}"
        >Profile</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link active"
        id="booking-tab"
        data-toggle="tab"
        href="{% url 'booking_management' profile.id %}"
        >Booking Managemet</a
      >
    </li>
  </ul>
  <div class="booking-history">
    <h1>{{ user.profile.fullname }}'s Bookings</h1>

    <div class="row search-card-result">
      <h3 class="text-dark">Room's Information</h3>
      <div class="col-md-3">
        {% if booking.room %}
        <a href="{% url 'room_detail' booking.room.id %}">
          <img
            class="img-fluid"
            src="{{ booking.room.images.first.images.url }}"
            alt="Room image"
          />
        </a>
        {% else %}
        <p>No room associated with this booking.</p>
        {% endif %}
      </div>
      <div class="col-md-5">
        <h5 class="text-dark">Room's Name: {{ booking.room.room_name }}</h5>
        <p>Quantity of Rooms: {{ booking.num_rooms }}</p>
      </div>
    </div>

    <div class="row search-card-result">
      <h3 class="text-dark">Guest's Information</h3>
      <p>Guest: {{ user.profile.fullname }}</p>
      <p>Quantity of Guests: {{ booking.guests }}</p>
    </div>

    <div class="row search-card-result">
      <h3 class="text-dark">Payment Information</h3>
      <p>
        {% if booking.num_rooms > 1 %} {{ booking.num_rooms }} rooms {% else %}
        {{ booking.num_rooms }} room {% endif %} x {% if nights > 1 %} {{ nights
        }} nights {% else %} {{ nights }} night {% endif %} :
        <strong>{{ total_price }}</strong>
      </p>
      <p>Payment Method: {{ booking.payment_method }}</p>
      <p>Points: {{ points }}</p>
      <p>
        <em
          >This point will be added if the booking and payment are
          successful.</em
        >
      </p>
    </div>
    <div class="row search-card-result">
      <h5>Total Price: {{ total_price }}</h5>
    </div>
    <div class="row search-card-result">
      <div class="row">
        <div class="col-lg-6 d-grid">
          <a
            href="{% url 'booking_management' profile.id %}"
            class="btn btn-secondary"
            >Close</a
          >
        </div>
        {% if booking.booking_status == "pending" %}
        <div class="col-lg-6 d-grid">
          <form
            action="{% url 'cancel_booking' profile.id booking.id %}"
            method="post"
          >
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Cancel</button>
          </form>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</section>
{% endblock %}
