{% extends "base.html" %} {% block start %}
<section class="container mt-5 pt-5">
  <ul class="nav nav-tabs mb-4">
    <li class="nav-item">
      <a
        class="nav-link"
        id="personal-tab"
        data-toggle="tab"
        href="{% url 'profile' %}"
        >Thông tin cá nhân</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link active"
        id="booking-tab"
        data-toggle="tab"
        href="{% url 'booking_management' profile.id %}"
        >Quản Lý Đặt Phòng</a
      >
    </li>
  </ul>
  <div class="booking-history">
    <h1>Đơn đặt phòng của {{ user.profile.fullname }}</h1>

    <div class="row search-card-result">
      <h3 class="text-dark">Thông tin phòng</h3>
      <div class="col-md-3">
        {% if booking.room %}
        <a href="{% url 'room_detail' booking.room.id %}">
          <img
            class="img-fluid"
            src="{{ booking.room.images.first.images.url }}"
            alt="Room image"
          />
        </a>
        {% else %}
        <p>No room associated with this booking.</p>
        {% endif %}
      </div>
      <div class="col-md-5">
        <h5 class="text-dark">Tên phòng: {{ booking.room.room_name }}</h5>
        <p>Số lượng phòng: {{ booking.num_rooms }}</p>
      </div>
    </div>

    <div class="row search-card-result">
      <h3 class="text-dark">Thông tin khách hàng</h3>
      <p>Tên khách hàng: {{ user.profile.fullname }}</p>
      <p>Số lượng khách hàng: {{ booking.guests }}</p>
    </div>

    <div class="row search-card-result">
      <h3 class="text-dark">Thông tin thanh toán</h3>
      <p>
        {{ booking.num_rooms }} phòng x {{ nights }} đêm :
        <strong>{{ total_price }}</strong>
      </p>
      <p>Hình thức thanh toán: {{ booking.payment_method }}</p>
      <p>Điểm: {{ points }}</p>
      <p>
        <em
          >Điểm này sẽ được thêm nếu đặt phòng và thanh toán thành công.</em
        >
      </p>
    </div>
    <div class="row search-card-result">
      <h5>Tổng tiền: {{ total_price }}</h5>
    </div>
    <div>
      {% if booking.booking_status == 'confirmed' and booking.payment_status == 'completed' %}
        <div class="row search-card-result">
          <a href="{% url 'create_review' booking.id %}">Đi đến đánh giá</a>
        </div>
      {% endif %}
    </div>
    <div class="row search-card-result">
      <div class="row">
        <div class="col-lg-6 d-grid">
          <a
            href="{% url 'booking_management' profile.id %}"
            class="btn btn-secondary"
            >Đóng</a
          >
        </div>
        {% if booking.booking_status == "pending" %}
        <div class="col-lg-6 d-grid">
          <form
            action="{% url 'cancel_booking' profile.id booking.id %}"
            method="post"
          >
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Hủy</button>
          </form>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</section>
{% endblock %}
