{% extends "base.html" %}

{%  block start %}

<!-- jumbotron and nav -->
<section class="jumbotron mb-0" role="banner">
    <!--    <nav class="navbar navbar-expand-lg justify-content-between navbar-dark" role="navigation">-->
    <!--        <div class="navbar-brand">-->
    <!--            <a href="index.html">Hotel-->
    <!--                <em>.</em>-->
    <!--            </a>-->
    <!--        </div>-->
    <!--        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"-->
    <!--            aria-label="Toggle navigation">-->
    <!--            <span class="navbar-toggler-icon"></span>-->
    <!--        </button>-->
    <!--       -->
    <!--    </nav>-->

    <!--    <div class="container hotels-container">-->

    <!--        <div class="row mt-2 justify-content-between"-->
    <!--             style="background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/041.webp');-->
    <!--      height: 400px;">-->
    <!--            <div class="col-md-8 text-white align-self-center mb-2 p-4">-->
    <!--                <h1>The Royal Hotel</h1>-->
    <!--                <span class=""> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum debitis perspiciatis sed iusto-->
    <!--                    eveniet neque natus quidem velit optio cumque saepe repudiandae vero, sit hic adipisci laudantium libero blanditiis-->
    <!--                    animi.-->
    <!--                </span>-->
    <!--            </div>-->

    <!--        </div>-->
    <!--    </div>-->
    <!-- Background image -->
    <div
            class="p-5 text-center bg-image"
            style="background-image: url('https://hips.hearstapps.com/hmg-prod/images/posada-ayana-pool-area-1665418407.jpeg?crop=1xw:1xh;center,top&resize=980:*');
      height: 400px;
    "
    >
        <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
            <div class="d-flex justify-content-center align-items-center py-5">
                <div class="text-white">
                    <h1 class="mb-4">Khách sạn Hoàng Gia</h1>
                    <span class=""> Khách sạn Hoàng Gia với các phòng biệt thự và bungalow được trang bị đầy đủ tiện nghi, không gian bên
                        trong được bài trí theo phong cách sang trọng pha trộn những nét truyền thống của người Việt và
                        những nét hiện đại của phương Tây. Chúng tôi có đội ngũ nhân viên được đào tạo bài bản, chuyên
                        nghiệp và tác phong chuyên nghiệp, phục vụ tận tình.
                    </span>
                </div>
            </div>
        </div>
    </div>
    <!-- Background image -->
</section>

<section class="search-container mb-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="row my-3">
                </div>
                <div class="row mt-2 justify-content-between">
                    <div class="filter-card">
                        <h5>Lọc</h5>
                        <form action="#">
                            <div class="row form-group">
                                <div class="col-md-12">
                                    <label for="mintopay">Ngày nhận</label>
                                    <p>
                                        <input type="date" name="checkin" id="checkin" class="form-control">
                                    </p>
                                </div>
                                <div class="col-md-12">
                                    <label for="maxtopay">Ngày trả</label>
                                    <p>
                                        <input type="date" name="checkout" id="checkout" class="form-control">
                                    </p>
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col-md-12">
                                    <input type="submit" class="btn btn-primary btn-block" value="Giới hạn">
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>

            <div class="col-lg-9  px-4 mb-5">
                <form>
                    <div class="row mt-3">
                        <div class="col-md-4">
                            <div class="form-inline">
                                <label class="" for="exampleFormControlSelect1">Sắp xếp</label>
                                <select class="form-control" name="sort_by" id="exampleFormControlSelect1">
                                    <option value="">Đề xuất</option>
                                    <option {%if sort_by == 'ASC' %} selected {%endif%} value='ASC'>ASC</option>
                                    <option {%if sort_by == 'DSC' %} selected {%endif%} value='DSC'>DSC</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-inline">
                                <label class="" for="exampleFormControlSelect1">Tìm kiếm</label>
                                <input name="search" class="form-control" value="{{search}}" placeholder="Tìm kiếm">
                            </div>

                        </div>
                        <div class="col-md-4">
                            <div class="form-inline">
                                <label class="" for="exampleFormControlSelect1">Dịch vụ</label>
                                <select name="amenities" class="form-select" multiple>
                                    {% for amenities_obj in amenities_objs %}
                                    <option {% if amenities_obj.amenity_name in amenities %} selected
                                            {%endif%}value="{{amenities_obj.amenity_name}}">
                                        {{amenities_obj.amenity_name}}
                                    </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <button style="margin-top: 30px;" type="submit" class="btn btn-success">Tìm</button>
                            <a href="{% url 'home' %}" class="btn btn-second">Tạo lại</a>
                        </div>
                    </div>
                </form>
                <div class="row search-card-result">
                    <h2 class="mt-3">PHÒNG</h2>
                </div>

                {% for room in rooms_objs %}
                <div class="row search-card-result">
                    <div class="col-md-3">
                        <a href="{% url 'room_detail' room.id %}">
                            <img class="img-fluid" src="{{ room.images.first.images.url }}" alt="{{ room.room_name }}">
                        </a>
                    </div>
                    <div class="col-md-5">
                        <h5>{{ room.room_name }}</h5>
                        <p>{{ room.description|truncatechars:150 }}</p>
                        <p>
                            {% for amenity in room.amenities.all %}
                            <b>{{ amenity.amenity_name }}</b>,
                            {% endfor %}
                        </p>
                    </div>
                    <div class="col-md-2 border-left text-center more-offers">
                        <p>{{ room.price }} VND </p>
                        <p>/ 1 đêm</p>
                        <p>Số lượng phòng</p>
                        <p>{{ room.room_count }}</p>
                    </div>
                    <div class="col-md-2 border-left text-center more-offers">
                        <div class="btn btn-success">
                            <a href="{% url 'room_detail' room.id %}" style="text-decoration: none; color: white;">
                                Xem chi tiết
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
</section>

{% endblock %}