{% extends "base.html" %} {% block start %}
<div class="container mt-5 pt-5">
  <div class="row search-card-result mt-5 pt-5">
    <div class="col-md-3">
      <img
        class="img-fluid"
        src="{{ room_obj.images.first.images.url }}"
        alt="Card image cap"
      />
    </div>
    <div class="col-md-5">
      <h5>{{ room_obj.room_name }}</h5>
      <p>{{ room_obj.description|truncatechars:150 }}</p>
      <p>
        {% for amenity in room_obj.amenities.all %}
        <b>{{ amenity.amenity_name }}</b>, {% endfor %}
      </p>
    </div>
    <div class="col-md-2 border-left text-center more-offers">
      <p><strong>{{ room_obj.price }}</strong> VND / 1 night</p>
      <p>
        Capacity: {% if room_obj.capacity <= 1 %}{{ room_obj.capacity }} person
        {% else %}{{ room_obj.capacity }} people {% endif %}
      </p>
      <p>Room count</p>
      <p>{{ room_obj.room_count }}</p>
    </div>
  </div>
  <div class="row">
    {% for image in room_obj.images.all %}
    <div class="col-md-3">
      <img
        src="{{ image.images.url }}"
        class="img-fluid"
        alt="Room image"
        style="height: 150px; width: 150px"
      />
    </div>
    {% endfor %}
  </div>
  <div class="filter-card" id="bookingForm">
    <h5>Book Room</h5>
    {% if user.is_authenticated %}
    <form method="post">
      {% csrf_token %} {% include "messages.html" %}
      <label for="payment_method">Choose Payment Method:</label>
      <select id="payment_method" name="payment_method">
        <option value="credit_card">Credit Card</option>
        <option value="debit_card">Debit Card</option>
        <option value="paypal">PayPal</option>
        <option value="cash">Cash</option>
      </select>
      <p>Total Price: {{ total_price }}</p>
      {% if value == "cash" %}
      <button type="submit" class="btn btn-success" id="submitBtn">Done</button>
      {% else %}
      <button type="submit" class="btn btn-primary" id="submitBtn">Next</button>
      {% endif %}
    </form>
    {% else %}
    <p>
      You need to <a href="{% url 'login_page' %}">login</a> to book a room.
    </p>
    {% endif %}
  </div>
</div>
<script>
  document
    .getElementById("payment_method")
    .addEventListener("change", function () {
      var selectedOption = this.value;
      if (selectedOption == "cash") {
        document.getElementById("submitBtn").textContent = "Done";
        document.getElementById("submitBtn").classList.remove("btn-primary");
        document.getElementById("submitBtn").classList.add("btn-success");
      } else {
        document.getElementById("submitBtn").textContent = "Next";
        document.getElementById("submitBtn").classList.remove("btn-success");
        document.getElementById("submitBtn").classList.add("btn-primary");
      }
    });
</script>
{% endblock %}
