{% extends 'base.html' %} {% block start %} {% load static %}
<section class="container">
  <ul class="nav nav-tabs mb-4">
    <li class="nav-item">
      <a
        class="nav-link active"
        id="personal-tab"
        data-toggle="tab"
        href="{% url 'profile' %}"
        >Trang cá nhân</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        id="booking-tab"
        data-toggle="tab"
        href="{% url 'booking_management' profile.id %}"
        >Quản lý đặt phòng</a
      >
    </li>
  </ul>

  <div class="tab-content">
    <div
      class="tab-pane fade show active"
      id="personal"
      role="tabpanel"
      aria-labelledby="personal-tab"
    >
      <div class="mb-5 pb-5">
        <h1>Trang các nhân của {{ profile.user.username }}</h1>
        {% if profile.avatar %}
        <img
          src="{{ profile.avatar.url }}"
          alt="Avatar"
          class="img-thumbnail rounded-circle"
          style="width: 200px; height: 200px"
        />
        {% else %}
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcCuCOisgxyOypyBi-hRYYV2Onv7KVI6QTVA&s}"
          alt="Avatar"
          class="img-thumbnail rounded-circle"
          style="width: 200px; height: 200px"
        />
        {% endif %}
        <p>Họ và tên: {{ profile.fullname }}</p>
        <p>Email: {{ user_email }}</p>
        <p>Địa chỉ: {{ profile.address }}</p>
        <p>Số điện thoại: {{ profile.phone }}</p>
        <p>Điểm: {{ profile.points }}</p>

        <a href="{% url 'edit_profile' profile.id %}" class="btn btn-success"
          >Chỉnh sửa</a
        >
      </div>
    </div>
  </div>
</section>
{% endblock %}
