{% extends "base.html" %} {% block start %}
<div class="container my-5">
  <div class="row search-card-result mt-5 pt-5">
    <div class="col-md-3">
      <img
        class="img-fluid"
        src="{{ room_obj.images.first.images.url }}"
        alt="Ảnh của phòng {{ room_obj.room_name }}"
      />
    </div>
    <div class="col-md-5">
      <h5>{{ room_obj.room_name }}</h5>
      <p>{{ room_obj.description|truncatechars:150 }}</p>
      <p>
        {% for amenity in room_obj.amenities.all %}
        <b>{{ amenity.amenity_name }}</b>, {% endfor %}
      </p>
    </div>
    <div class="col-md-2 border-left text-center more-offers">
      <p><strong>{{ room_obj.price }}</strong> VND / 1 đêm</p>
      <p>Sức chứa: {{ room_obj.capacity }} người</p>
      <p>Số lượng phòng:</p>
      <p>{{ room_obj.room_count }}</p>
    </div>
  </div>
  <div class="row">
    {% for image in room_obj.images.all %}
    <div class="col-md-3">
      <img
        src="{{ image.images.url }}"
        class="img-fluid"
        alt="Room image"
        style="height: 150px; width: 150px"
      />
    </div>
    {% endfor %}
  </div>
  <div class="row">
    <h3 class="text-dark">Nhận xét</h3>
    {% for review in reviews %}
    <div class="review">
      <p><strong>{{ review.user.username }}</strong></p>
      <p>{{ review.rating }} sao</p>
      <p>{{ review.comment }}</p>
    </div>
    {% endfor %}
  </div>
  <div class="filter-card" id="bookingForm">
    <h5>Đặt Phòng</h5>
    {% if user.is_authenticated and room_obj.room_count > 0 %}
    <form method="post">
      {% csrf_token %} {% include "messages.html" %} {{ form.as_p }}
      <button
        type="submit"
        class="btn btn-primary"
        name="submit_type"
        value="next"
      >
        Tiếp theo
      </button>
    </form>
    {% elif room_obj.room_count == 0 %}
    <p><strong>HẾT PHÒNG. VUI LÒNG ĐẶT PHÒNG KHÁC!</strong></p>
    {% else %}
    <p>
      Bạn cần phải <a href="{% url 'login_page' %}">ĐĂNG NHẬP</a> để đặt phòng.
    </p>
    {% endif %}
  </div>
</div>
{% endblock %}
