{% extends "base.html" %} {% block start %}

<div class="container mt-5 pt-5">
  <div class="row search-card-result mt-5 pt-5">
    <div class="col-md-3">
      <a href="/room-detail/{{rooms_objs.id}}">
        <img
          class="img-fluid"
          src="/room_img/{{rooms_objs.images.first.images}}"
          alt="Card image cap"
        />
      </a>
    </div>

    <div class="col-md-5">
      <h5>{{ rooms_objs.room_number }}</h5>

      <p>{{rooms_objs.description|truncatechars:150}}</p>
      <p>
        {%for amenitie in rooms_objs.amenities.all %}
        <b>{{amenitie.amenity_name}}</b>, {% endfor %}
      </p>
    </div>
    <div class="col-md-2 border-left text-center more-offers">
      <p>Place.com</p>
      <p>${{rooms_objs.price}}</p>
      <p>Room count</p>
      <p>{{rooms_objs.room_count}}</p>
    </div>
  </div>
  <div class="row">
    {% for image in rooms_objs.images.all %}
    <div class="col-md-3">
      <img
        src="/public/room_img/{{image.images}}"
        style="height: 150px; width: 150px"
      />
    </div>
    {% endfor %}
  </div>
  <div class="filter-card" id="bookingForm">
    <h5>Book Room</h5>
    <form method="post">
      {% csrf_token %}
      <div class="form-group">
          {{ form.check_in_date.label_tag }}
          {{ form.check_in_date }}
      </div>
      <div class="form-group">
          {{ form.check_out_date.label_tag }}
          {{ form.check_out_date }}
      </div>
      <div class="form-group">
          {{ form.guests.label_tag }}
          {{ form.guests }}
      </div>
      <div class="form-group">
          {{ form.payment_method.label_tag }}
          {{ form.payment_method }}
      </div>
      {% if form.errors %}
          {% for field in form %}
              {% for error in field.errors %}
                  <div class="alert alert-danger">
                      <strong>{{ error|escape }}</strong>
                  </div>
              {% endfor %}
          {% endfor %}
          {% for error in form.non_field_errors %}
              <div class="alert alert-danger">
                  <strong>{{ error|escape }}</strong>
              </div>
          {% endfor %}
      {% endif %}
      <button type="submit" class="btn btn-primary mt-3">Book Now</button>
  </form>
  </div>
</div>

{% endblock %}
