{% extends "ad_base.html" %} {% block start %}
<h1>Quản lý phòng</h1>
{% include "messages.html" %}
<a href="{% url 'add_room' %}" class="btn btn-primary">Thêm phòng mới</a>
<form method="get" class="my-3">
  <label for="filter">Lọc theo:</label>
  <select
    id="filter"
    name="filter"
    class="form-select"
    onchange="this.form.submit()"
  >
    <option value="" disabled selected>Chọn tiêu chí</option>
    <option value="created_at">Thời gian tạo</option>
    <option value="room_name">Tên phòng</option>
  </select>

  <label for="sort_order">Sắp xếp:</label>
  <select
    id="sort_order"
    name="sort_order"
    class="form-select"
    onchange="this.form.submit()"
  >
    <option value="" disabled selected>Chọn thứ tự</option>
    <option value="asc">Tăng dần (A-Z hoặc Cũ nhất)</option>
    <option value="desc">Giảm dần (Z-A hoặc Mới nhất)</option>
  </select>
</form>
<table class="table">
  <thead>
    <tr>
      <th>STT</th>
      <th>Tên phòng</th>
      <th>Khách sạn</th>
      <th>Giá</th>
      <th>Trạng thái</th>
      <th>Hành động</th>
    </tr>
  </thead>
  <tbody>
    {% for room in rooms %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{ room.room_name }}</td>
      <td>{{ room.hotel.hotel_name }}</td>
      <td>{{ room.price }}</td>
      <td>{{ room.get_room_status_display }}</td>
      <td>
        <a href="{% url 'edit_room' room.id %}" class="btn btn-warning">Sửa</a>
        <form
          action="{% url 'delete_room' room.id %}"
          method="post"
          style="display: inline"
        >
          {% csrf_token %}
          <button type="submit" class="btn btn-danger">Xóa</button>
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
